# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.idea
.bin
/istio/istio-1.1.7/bin
/istio/istio-1.2.5/bin
/web-ui/node_modules
/web-ui/dist
